.default {
		justify-content: top;
}

.weather {
	display: inline-block;
}

.time {
	margin-top: -160px;
	display: inline-block;
	color:#000000;
	font-family: Arial;
	font-size:70px;
	text-align: center;
	vertical-align: center;
}